JediWebServiceTest/JediWebTests/Service References/JediWebService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2978/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JediService.Models" />
  <xs:element name="GetJedis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJedisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JediService.Models" minOccurs="0" name="GetJedisResult" nillable="true" type="q1:ArrayOfJediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJedi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JediService.Models" minOccurs="0" name="jedi" nillable="true" type="q2:JediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJediResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JediService.Models" minOccurs="0" name="GetStadesResult" nillable="true" type="q3:ArrayOfStadeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JediService.Models" minOccurs="0" name="GetMatchsResult" nillable="true" type="q4:ArrayOfMatchContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournois">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTournoisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JediService.Models" minOccurs="0" name="GetTournoisResult" nillable="true" type="q5:ArrayOfTournoiContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiques">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JediService.Models" minOccurs="0" name="jedi" nillable="true" type="q6:JediContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaracteristiquesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JediService.Models" minOccurs="0" name="GetCaracteristiquesResult" nillable="true" type="q7:ArrayOfCaracteristiqueContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>